<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  <title>Title</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">高雄市金山國小 NAS WebAPP 設定</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="form-group">
      <input type="text" class="form-control" id="path" placeholder="資料夾路徑">
      <span class="btn btn-primary" id="search">
        確定
      </span>
    </div>

    <script type="text/javascript">
      const path = require('path');
      const fs = require('fs');

      (function() {
        let p = document.getElementById('path');
        fs.readFile(path.join(__dirname, '..', '..', 'settings.json'),
          function(err, content) {
            if (!err) {
              var settings = JSON.parse(content);
              p.value = settings.path
            } else {
              alert(err.message);
            }
          });
      })();

      (function() {
        let search = document.getElementById('search');
        search.addEventListener('click', function() {
          let p = document.getElementById('path').value;
          fs.lstat(p, function(err, stats) {
            if (err) {
              alert('找不到 ' + p);
            } else {
              var settings = {path: p};
              fs.writeFile(path.join(__dirname, '..', '..', 'settings.json'),
                JSON.stringify(settings), function(err) {
                  if (err) {
                    alert('設定失敗');
                  } else {
                    alert('設定成功');
                  }
                });
            }
          })
        });
      })();
    </script>
  </div>
</body>

</html>
