doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/notosans-fontface.min.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='jquery.min.js')

  body
    block content
